<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @condicao_pagamento.nome %>
</p>

<%= link_to 'Edit', edit_condicao_pagamento_path(@condicao_pagamento) %> |
<%= link_to 'Back', condicoes_pagamento_path %>

</div>
