<div id="adiciona-produto">
  <%= render 'galeria_produtos', model: @produto %>
</div>

<div class="container link-produtos">
    <%= will_paginate @lista, renderer: BootstrapPagination::Rails %>
</div>
