<p>Olá <%= @resource.nome %>!</p>

<p>Alguem solicitou uma nova senha para sua conta. Voce pode altera-la acessando o link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso nao tenho sido voce, por favor ignore esse e-mail.</p>
<p>Sua senha nao sera alterada ate voca nao acessar o link acima.</p>
